* {
    margin: 0;
}

nav {
    display: flex;
    height: 64px;
    padding-right: 24px;
    padding-left: 24px;
    background-color: grey;
    text-align: center;
    align-items: center;
    font-size: 32px;
    overflow: hidden;
    
}

nav ul {
    
    font-size: 32px;
     
}

nav li {
    float: right;
    text-align: center;
    padding: 16px;
    list-style: none;
    
}

section {
    padding-top: 32px;
    padding-bottom: 32px;

}

.bannerpic {
    width: 60%;
    padding-left: 24px;
    padding-right: 24px;
    float: left;
}

.start {
    display: grid;
    justify-self: center;
    align-self: center;
    justify-items: center;
}

h1 {
    font-size: 52px;
    
}

p {
    font-size: 32px;
    padding: 24px 0px;
    
}

button {
    padding: 8px;

}


.infopic {
    width: 60%;
    padding-left: 24px;
    padding-right: 24px;
    float: left;
}

.blue {
    color: lightskyblue;
}

.cards {
    display: grid;
    width: 40%;
    justify-self: center;
    align-self: center;
    justify-items: center;

}

.infocardpics {
    float: left;
    width: 35%;
    height: auto;
    padding: 16px 16px;
}